{% extends "base1.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

      <br>
     
 <div class="content-crumb-div" style="padding-left: 300px;">
    
   
    <a href={% url 'home'%}><h6>Home</a>/Ayurvedic</a>
       </h6>
         
    
        

</div>

<br><br>
<div class="row">
 <section id="gallery">
     
<div class="container-fluid">
    <form method="POST" action="{% url 'ayush' %}">
        {% csrf_token %}
        <div class="row justify-content-start">
            <div class="col-lg-3 mb-3">
        <div class="card border border-white rounded-0" style="width: 18rem;" style="background-color: #fff">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
    <center><div>
        <center> <input type="radio" id="searchbyabrand" name="SearchBy" value="abrand_name">
                    <label for="searchbyabrand"><h6>Search By Brand</h6></label></center>
                </div>
             <div>
                <center> <div id="searchByaBrandField"><input type="text" name="txtSearchaBrand"  placeholder="Brand Name To Search"></div>
            </div></center>
    <br>
        <div>
            <center> <input type="radio" id="searchbyaname" name="SearchBy" value="aproduct_name">
            <label for="searchbyaname"><h6>Search By Product Name</h6></label></center>
            </div>
                <div>
                    <center> <div id="searchByaNameField"><input type="text" name="txtSearchaName"  placeholder="Name To Search"></div> </center>
            </div>
        <br>
       
           <center> <h6>Categories</h6>
<div class="form-check">
    <center><input class="form-check-input" type="checkbox" name="Category" id="exampleRadios1" value="option1"></center>
  <label class="form-check-label" for="exampleRadios1">
    Ayurvedic
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="Category" id="exampleRadios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Unani
  </label>
</div>
            <div class="form-check">
  <input class="form-check-input" type="checkbox" name="Category" id="exampleRadios2" value="option3">
  <label class="form-check-label" for="exampleRadios2">
    Siddha
  </label>
            </div></center>
        <center><br>
            <div>
                <center> <input type="radio" id="searchbyname" name="SearchBy" value="product_prices">
                <label for="searchbyprice"><h6>Price</h6></label></center>
                </div>
                <div class="list-group list-group-flush" name="SearchPrice">
                    <li class="list-group-item">
                        <input type="range" min="0" max="2000" oninput="minaPrice.value = this.value"/>
                    </li>
                    <li class="list-group-item">
                        Min: <input type="number" onkeyup="rangeInput.value=this.value" id="minaPrice" min="0" max="2000" name="minaPrice"/>
                    </li>
                </div>
            <div class="list-group list-group-flush" name="SearchPrice">
                <li class="list-group-item">
                    <input type="range" min="0" max="2000" oninput="maxaPrice.value = this.value"/>
                </li>
                <li class="list-group-item">
                    Max: <input type="number" onkeyup="rangeInput.value=this.value" id="maxaPrice" min="0" max="2000" name="maxaPrice"/>
                </li>
            </div>
        
       
<br>

           
<br>
         <div>
                    <input type="submit" value="Find" class="btn btn-secondary">
                </div>
    </center>
      
  </ul>

</div></center>
       </div>
            <div class="col-lg-9 mb-9">
             <div class="card border border-white rounded-0" style="width: 60rem;" style="background-color: #fff">
                 <br>
            <div class="container-fluid">
    {% if ayproducts %}
                 <div class="row justify-content-start">
    {% for products in ayproducts %}

<div class="col-lg-4 mb-4" style="float:left">
                    <div class="card" style="height:405px;width: 15rem;">
                       <img class="card-img-top" src="{{ products.product_frontpage.url }}" alt=" " style="height:250px; width: 14rem;"> 
                        <div class="card-body">
                            <h6 class="card-title" style="text-align:center" id="namepr{{products.id}}">{{ products.product_name }}</h6>
                            <h6 class="card-title" style="text-align:center">{{ products.brand_name }}</h6>
                            <h6 class="price" id="pricepr{{products.id}}" style="text-align:center">₹{{products.product_price}}</h6>
                           
                                <div>
                           <center><a class="btn btn-primary mx-2" id="qv{{products.id}}" href="{%url 'aproducts' products.id %}">
                                    Visit</a></div> </center>
                                  <br>  
                               
                            </div>
                      
                    </div>
</div>

    {% endfor %}
                     </div>
    {% endif %}
        </div>
                 <br>
            </div>
            <br>
            <br>
        </div>
    </div>
        </form>
</div>
      </section>
    </div>
{% endblock content %}

{% block js %}
<script>
    
    $(document).ready(function () {
        $('input[name="SearchBy"]').change(function () {
            if ($('#searchbyname').prop('checked')) {
                $('input[name="txtSearchName"]').attr("readonly", false);
                $('input[name="txtSearchName"]').focus();
                $('input[name="txtSearchBrand"]').attr("readonly", true);
            }

            
        });
    });
    $(document).ready(function () {
        $('input[name="SearchBy"]').change(function () {
            if ($('#searchbybrand').prop('checked')) {
                $('input[name="txtSearchBrand"]').attr("readonly", false);
                $('input[name="txtSearchBrand"]').focus();
                $('input[name="txtSearchName"]').attr("readonly", true);
            }

            
        });
    });
    $(document).ready(function () {
        $('input[name="rbtnSearchBy"]').change(function () {
            if ($('#searchbyprice').prop('checked')) {
                $('input[name="SearchPrice"]').attr("readonly", false);
                $('input[name="SearchPrice"]').focus();
                $('input[name="txtSearchName"]').attr("readonly", true);
            }

            
        });
    });

  

    
            
    
    
       

   
</script>
{% endblock %}
