{% extends "base1.html" %}
{%load static %}
{% block content %}
{% load cart_tags %}
<div class="container">
  {% for message in messages %}
		<h3>{{message}} </h3>
    <div>
		{% endfor %}
      <table class="table table-hover table-stripped">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Image</th>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th>Decrease</th>
                  <th>Quantity</th>
                  <th>Increase</th>
                  <th>Total</th>
              </tr>
          </thead>

          <tbody>
            {% if item %}
              {% for key, values in item.items %}
              
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img height="70px" class="img rounded" src='{{ values.product_frontpage.url }}' /></td>
                    <td>{{ values.product_name }}</td>
                    <td>₹{{values.product_price}}</td>
                    <td>
                    <a class="page-link" href="/decrement/{{key.product_id}}">
                      <i class="fa fa-minus"></i> </a></td>
                    <td> <input type="text" name="" class="page-link" value={{key.quantity}} id="textbox" ></td> 
                    <!-- <td>{{key}}</td> -->
                    <td>
                    <a class="page-link" href="/increment/{{key.product_id}}"> <i class="fa fa-plus"></i></a></td>
                    <td>₹{% multiply key.quantity values.product_price %}</td>
                    <!-- <td>{{c.category}}</td> -->
                    

                </tr>

                
                
                {% endfor %}
              {%else%}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td><img height="70px" class="img rounded" src='' /></td>
                <td></td>
                <td></td>
                <td>
                </td>
                <td> </td> 
                <!-- <td>{{key}}</td> -->
                <td>
                </td>
                <td></td>
                <!-- <td>{{c.category}}</td> -->
                

            </tr>
            {%endif%}

              <tfoot>
                  <tr>
                      <th colspan="5"></th>
                      <th colspan="1">Payable Amount</th>
                      <th colspan="6">₹{{ item|cal_total_payable_amount }}</th>
                  </tr>
                  <tr>
                      <th colspan="7"></th>
                      <th colspan="2"><a href="/checkout/{{ item|cal_total_payable_amount }}/" class="btn btn-outline-dark">Continue to Checkout</a></th>
                  </tr>
              </tfoot>
          </tbody>
      </table>

  </div>
</div>
<script type="text/javascript">
  const decreaseNumber = (incdec,itemprice,total) => {
    var itemval = document.getElementById(incdec);
    var total = document.getElementById(total);
    // console.log(itemval.value);
    if(itemval.value <0 ){
    itemval.value = 0;
    alert('Negative not allowed');
    itemval.style.background = 'red';
    itemval.style.color = '#fff';
    }else{
    itemval.value = parseInt(itemval.value) - 1;
    total.value = itemval.value*parseInt(itemprice)
    }
  }
  
  const increaseNumber = (incdec, itemprice,total) => {
  var itemval = document.getElementById(incdec);
  var total = document.getElementById(total);
  // console.log(itemval.value);
  if(itemval.value >= 10){
  itemval.value = 10;
  alert('max 10 allowed');
  itemval.style.background = 'red';
  itemval.style.color = '#fff';
  }else{
  itemval.value = parseInt(itemval.value) + 1;
  total.value = itemval.value*parseInt(itemprice)
  }
  }

</script>
{%endblock%}