
{% extends "base1.html" %}

 {% load static %}
 {% block content %}


<!---Slider--->
<div id="slider">
  <div id="headerSlider" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#headerSlider" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#headerSlider" data-bs-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://d314ueg0lpx3nd.cloudfront.net/banner/7bc09b959cf-DWEB%20(1).jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://www.netmeds.com/images/cms/aw_rbslider/slides/1609423300_Web_Homemnmnmnm.jpg" class="d-block w-100">
    </div>
  </div>
  <a class="carousel-control-prev" href="#headerSlider" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#headerSlider" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
</div>

<div class="container-fluid">
  <a class="navbar-brand" href="#"><img src = "https://assets.pharmeasy.in/web-assets/dist/0ad2d80a.png" style="padding-left: 20px; padding-top:50px; width:450px; height: 200px;">
    <img src ="https://assets.pharmeasy.in/web-assets/dist/6e630ccf.png" style="padding-left: 20px; padding-top:50px; width:200px; height: 200px;">
    <img src ="https://assets.pharmeasy.in/web-assets/dist/c9bd8df2.png" style="padding-left: 20px; padding-top:50px; width:200px; height: 200px;">
    <img src ="https://assets.pharmeasy.in/web-assets/dist/748e0da8.png" style="padding-left: 20px; padding-top:50px; width:200px; height: 200px;">
    <img src ="https://assets.pharmeasy.in/web-assets/dist/aada0d0d.png" style="padding-left: 20px; padding-top:50px; width:200px; height: 200px;">
    <img src ="https://assets.pharmeasy.in/web-assets/dist/091811c4.png" style="padding-left: 20px; padding-top:50px; width:200px; height: 200px;">
</div>

  <div class="container-fluid">
    <a class="navbar-brand" style="padding-top:100px;padding-left: 50px; padding-bottom: 40px;"><b>Featured Brand</b></a>
  </div>
    

  <div class="container-fluid" style="padding-top: 50px">
   
  <!-- <div class="col"> -->
    <div class = "row mx-auto">
    {% for dest in dest %}
    <div class="card mx-auto mb-3" style="width:15rem; height: 350px;">
     
      <img src="{{ dest.image.url }}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title"><center>{{dest.name}}</h5>
      <center>  <a href="{%url 'productspage' %}" class="btn btn-primary">Visit Store</a>
       
      </div>
     
    </div>
    {% endfor %}
  <!-- </div> -->
 
  </div>
  
  </div>
 
  

<br>
<br>
<br>
<br>
<div class="container-fluid">
  <a class="navbar-brand" style="padding-top:300px;padding-left: 50px; padding-bottom: 40px;"><b>Popular Healthcare Products</b></a>
</div>

<div class="container-fluid" style="padding-top: 50px">
   
  <!-- <div class="col"> -->
    <div class = "row mx-auto">
    {% for pop in pops %}
    <div class="card mx-auto mb-3" style="width:15rem; height: 350px;">
     
      <img src="{{ pop.image.url }}" class="card-img-top" style="width:14rem; height:200px;">
      <div class="card-body">
        <h6 class="card-title"><center>{{pop.name}}</h6>
      <center>  <a href="#" class="btn btn-primary">Visit Store</a>
       
      </div>
     
    </div>
    {% endfor %}
  <!-- </div> -->
 
  </div>
  
  </div>



{%endblock%}
 
