<html>
	<head>
		<title>Redirecting...</title>
	</head>
	<body>
		<br><br><h1><center>{{ company_name }}</center></h1><br><br><br>
		<h1><center>Redirecting to payment gateway<br>Please do not refresh or go back.</center></h1>
		<form method="POST" action="https://securegw-stage.paytm.in/order/process", name="payment">
		{% csrf_token %}
		{% for key, value in param_dict.items %}
			<input type="hidden" name="{{key}}" value="{{value}}">
		{% endfor %}
			<script type="text/javascript">
				document.payment.submit();
			</script>
		</form>
	</body>
</html>